body{
    width: 80%;
    margin: auto;
}

questions {
    width: 200px;
    height: auto;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100px;
}